.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom:30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%px;
    margin-top:30px
}

.text {
    font-size: 30px;
}

.underline {
    width: 80px;
    height: 6px;
    background: black;
    border-radius: 10px;
}

.inputs{
    display: flex;
    align-items: center;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    outline: 1px solid red
}
